---

host:
#  sslHostname: "eaasi.emulation.cloud"
  remoteUser: "klaus"
  eaasHome: "/var/data/eaas-home"
  buildPath: "/var/data/eaas-build"
  eaasTmp: "/tmp"
  sshPort: 22

docker :
  image: "eaas/eaas-appserver"
  portMapping: "80:8090"
  port: "80"
  cleanup: false
  sslEnabled: "false"
  imageArchiveVolume: "/eaas/archive"

ui:
  gitBranch: "master"
  hostname: "hostname.dns.internal"
  enableScreenshooter: true
  enableSnapshots: false
  buildFromSource: true
  deployAdminUI: true
  deployUserUI: true

  #httpAuth:
  #  user: "usernamme"
  #  password: "randompassword"

eaas:
  gitBranch: "master"
  softwareArchiveId: "SoftwareArchive"
  objectArchiveId: "default"
  buildFromSource: true
#  earTarget: "/home/klaus/eaas-server.ear"

