---
host:
  eaas_home: "/eaasi"

docker:
  image: "eaas/eaas-appserver:v2021.10-eaasi"
  network_name: "eaasi"

  # enable SSL with provided certificate
ssl:
  enabled: true
  certificate: "./artifacts/ssl/certificate.crt"
  private_key: "./artifacts/ssl/private.key"


keycloak:
  enabled: true
  admin_user: "superadmin"
  admin_password: "<SUPERADMIN-PASSWORD>"

eaas:
  version: "v2021.10-eaasi"
  migrations:
  - name: import-legacy-image-index
  - name: import-legacy-emulator-index
  - name: import-legacy-image-archive-v1
  - name: import-local-emil-environments
  - name: import-legacy-emil-database-v1
  - name: create-absent-emil-environments

  # currently required options,
  # just leave them as-is
  enable_backend_auth: true
  enable_user_auth: true
  single_user_mode: false
  user_archive_enabled: false
  auth_audience: ""

demo_ui:
  version: "v2021.10-eaasi"
  enable_admin_ui: true

eaasi_ui:
  version: "v2021.10"
  edition: "standalone"
