---
host:
  build_dir: "/eaasi/build"
  eaas_home: "/eaasi/"

docker:
  image: "eaas/eaas-appserver:eaasi-release-2019-11"
  network_name: "eaasi"

  # to enable SSL with custom certificate,
  # uncomment the following lines...
  #ssl:
  #  enabled: true
  #  certificate: "./artifacts/ssl/certificate.crt"
  #  private_key: "./artifacts/ssl/private.key"

eaas:
  git_branch: "eaasi-release-2019.11"
  enable_oaipmh_provider: true
  db_upgrade: true

portal: 
  git_branch: “eaasi-release-2020.03”
  
  auth:
    mailer:
      port: 587
      host: “smtp.example.net”
      user: “admin”
      password: “password”
      sender: “noreply@your-email-domain.com”
  
  organization:
    name: “Your Organization Name”

  initial_user:
    email: “admin@example.com”
    username: “admin”
    first_name: “first name”
    last_name: “last name”
